<div class="border-slate-100 border-2 rounded-lg align-middle w-auto p-4 shadow-md">
    <div>
        <h2>Login</h2>
    </div>
    <div>
        <div class="mb-1 text-black ">
            <input type="text" name="" id="" class="p-1 border-gray-200 hover:border-2 rounded-2xl shadow-sm" placeholder="Username">
        </div>
        <div class="mb-1 text-black ">
            <input type="password" name="" id="" class="p-1 border-gray-200 hover:border-2  rounded-2xl shadow-sm" placeholder="Password">
        </div>
    </div>
    <div>
        <input type="submit" value="Login" class="rounded-2xl hover:shadow-md p-2 bg-sky-600 text-white hover:bg-sky-700">
    </div>
</div>

