<p>lifecycle-hooks works!</p>


<div>
    <label for="number1">Numero 1</label>
    <input type="text" name="number1" id="number1">    
</div>
<div>
    <label for="number1">Numero 1</label>
    <input type="text" name="number1" id="number1">    
</div>
<div>
    <label for="number1">Numero 1</label>
    <input type="text" name="number1" id="number1">    
</div>
<div>
    <label for="number2">Numero 2</label>
    <input type="text" name="number2" id="number2">    
</div>

<div class="">
    <button type="button" (click)="addBtnHandler()">Add</button>
</div>
<div class="">
    <button type="button" (click)="removeBtnHandler()">Remove</button>
</div>

<div *ngIf="tasks$ | async as tasks">
    <p *ngFor="let task of tasks" appSpy>
        {{ task.description }}
    </p>
</div>

