
<div class="container mx-auto px-4">
  <h1>content</h1>

  <div class="">
    <h1 class="font-bold">How to install and configurate ESLint and Prettier</h1>
    <p>Reference link: <a class="text-blue-800" href="https://dev.to/alexcamachogz/haz-tu-codigo-de-angular-elegante-con-eslint-y-prettier-1p7h">dev.to</a></p>
    <ol>
      <li>
        <code> # Installar ESLint <br> npm install --save-dev eslint </code>
      </li>
      <li>
        <code> # Instalar plugins adicionales <br> npm install --save-dev @typescript-eslint/eslint-plugin eslint-plugin-prettier </code>
      </li>
      <li>
        <code> # Instalar Prettier y sus dependencias <br> npm install --save-dev prettier prettier-eslint eslint-config-prettier </code>
      </li>
      <li>
        <code> # Instalar parser <br>  npm i --save-dev @typescript-eslint/parser </code>
      </li>
    </ol>
  </div>
</div>
