<div class="bg-sky-700 sticky top-0 text-white p-2">
  First App

  <div>
    <a [routerLink]="['./main-page']">Home</a>
  </div>
  <div>
    <a [routerLink]="['./lifecycle-hooks']">Hooks</a>
  </div>
  <div>
    <a [routerLink]="['./rick-and-morty']">Dashboard Rick and Morty</a>
  </div>
</div>
<router-outlet></router-outlet>
